#dicePlatform {
  justify-content: space-between;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 40rem) {
  #dicePlatform {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
