.input,
textarea {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.3rem;
  box-sizing: border-box;
}

.form {
  max-width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
}

@media screen and (min-width: 40rem) {
  .input,
  textarea {
    padding: 0.7rem;
  }

  .form {
    max-width: 40%;
    margin-top: 3rem;
  }
}
