.dice {
  padding: 3.5rem;
  border: 1px solid var(--primary-color-gold);
  margin-right: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
}

.dice:nth-child(3n) {
  margin-right: 0;
}

.luckyNumber {
  margin: 0;
}
