.circle {
  width: 6rem;
  height: 4rem;
  border: 1px solid var(--primary-color-gold);
  margin-right: 3rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
}

.circle:nth-child(5n) {
  margin-right: 0;
}
