.menu {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
}

img {
  height: 4rem;
  cursor: pointer;
  padding-left: 1rem;
}

.menu img {
  height: 3rem;
}

a {
  color: var(--primary-color-gold);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: var(--color-red);
  cursor: pointer;
}

i {
  font-size: 24px;
  cursor: pointer;
  margin-left: 2rem;
}

@media screen and (min-width: 40rem) {
  img {
    height: 6rem;
  }
}
