:root {
  --primary-color-gold: goldenrod;
  --secondary-color-light-green: #415a05;
  --tertiary-color-dark-green: #0a3228;
  --color-red: #8b0000;
  --color-black: #000000;
}

body {
  background: var(--color-black);
  color: var(--primary-color-gold);
}

.games div {
  display: inline-block;
  margin-top: 3rem;
  margin-right: 3rem;
}

.wrapper {
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

h1.nickname,
h1.wrapper {
  text-align: center;
  font-size: 1.5em;
}

div.winner h1 {
  margin: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 40rem) {
  .wrapper {
    max-width: 45%;
  }

  h1.nickname,
  h1.wrapper {
    font-size: 2em;
  }
}
