:root {
  --primary-color-gold: goldenrod;
  --secondary-color-light-green: #415a05;
  --tertiary-color-dark-green: #0a3228;
}

body {
  background: black;
  color: var(--primary-color-gold);
}

.wrapper {
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}

.nickname {
  text-align: center;
}
