:root {
  --primary-color-gold: goldenrod;
  --secondary-color-light-green: #415a05;
  --tertiary-color-dark-green: #0a3228;
}

body {
  background: black;
  color: var(--primary-color-gold);
}

.games div {
  display: inline-block;
  margin-top: 3rem;
  margin-right: 3rem;
}

.wrapper {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.nickname {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
